---
- name: Render Pangolin docker-compose file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ pangolin_compose_path }}"
    owner: "{{ pangolin_owner }}"
    group: "{{ pangolin_group }}"
    mode: "0644"
  notify:
    - Pangolin | Restart service
    - Pangolin | Restart Traefik

- name: Ensure Pangolin stack is running
  community.docker.docker_compose_v2:
    project_src: "{{ pangolin_root }}"
    state: present
  when: not ansible_check_mode
